//{
//  "presets": [
//    ["env", {
//      "modules": false,
//      "targets": {
//        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
//      }
//    }],
//    "stage-2"
//  ],
//  "plugins": ["transform-runtime"],
//  "env": {
//    "test": {
//      "presets": ["env", "stage-2"],
//      "plugins": ["istanbul"]
//    }
//  }
//}

// 换了下面代码才可继续后面打包。
{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}

